:root {
  --bg-primary: #1c1c1c;
  --bg-secondary: #121212;

  --bg-surface: #2e2e2e;

  --color: #eaecec;
  --color-muted: #7e7e7e;

  --border-color-muted: #eaecec30;
  --border-color: #eaecec90;

  --transition: 120ms ease all;

  --color-error: #d97878;
  --color-success: #70c9a2;
  --color-info: #729bc4;
  --color-warning: #d2a866;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--color);
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
}

input {
  background-color: var(--bg-surface);
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid var(--border-color-muted);
  color: var(--color);
  height: 40px;
  outline: none;
  transition: var(--transition)
}

input:hover,
input:focus {
  border: 1px solid var(--border-color);
}

button {
  height: 40px;
  background-color: #eeeeee;
  color: black;
  border-radius: 10px;
  padding: 0 10px;
  border: 1px solid var(--border-color-muted);
  cursor: pointer;
  transition: var(--transition)
}

button:hover {
  opacity: .7;
}

button.ghost {
  background-color: #eeeeee30;
}

p,
a {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p,
h6 {
  color: var(--color-muted);
  font-weight: 300;
}

button,
label {
  font-size: 14px;
}